.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-content);
  color: var(--text-color);
  padding: 2rem;
  height: 100%;
  width: 100%;
}
