.mainHeader {
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--bg-color-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader__toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
