:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --link-color: #646cff;
  --link-color-hover: #535bf2;
  --text-link-color: #ffffff;
}

:root[data-theme="light"] {
  --bg-color-header: #e1e1e1;
  --bg-color-menu: #f5f5f5;
  --bg-color-content: #ffffff;
  --page-bg-color: #f5f5f5;
  --text-color: #000000;
  --page-text-color: #000000;
}

:root[data-theme="dark"] {
  --bg-color-header: #1a1a1a;
  --bg-color-menu: #222;
  --bg-color-content: #2a2a2a;
  --page-bg-color: #1a1a1a;
  --text-color: #ffffff;
  --page-text-color: #ffffff;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-color-hover);
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 1.5em;
}

button:focus,
button:focus-visible {
  outline: none;
}

* {
  box-sizing: border-box;
  border-radius: 0;
}

label {
  display: block;
  font-size: 0.75rem;
}
